<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>News</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h2>{{content['title']}}</h2>
                {% if content['urlToImage'] != "none" %}
                    <img src={{content['urlToImage']}} width="50%">
                {% endif %}
                <p>{{content['description']}}</p>
                <a href={{content['url']}}>Go To External Link</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {%if num != 19%}
                <a href="{{ url_for('get_blog', num=num+1) }}">Go To Next News</a>
                {% endif %}

            </div>

    </div>
</div>
</body>
<footer>
    <p>Made with Sandy♥️.</p>
</footer>
</html>